version: '3.8'

services:
  etcd:
    image: quay.io/coreos/etcd:v3.5.9
    command:
      - etcd
      - --advertise-client-urls=http://etcd:2379
      - --listen-client-urls=http://0.0.0.0:2379
    ports:
      - "2379:2379"  # Client communication
      - "2380:2380"  # Server-to-server communication
    #    volumes:
    #      - etcd_data:/bitnami/etcd
    networks:
      - scooter-net

  scooter-server-1:
    image: scooter-server:0.3
    command: ["-id", "1", "-port", "50051", "-testport", "8081", "-servers", "scooter-server-1:50051,scooter-server-2:50051,scooter-server-3:50051,scooter-server-4:50051,scooter-server-5:50051"]
    ports:
      - "50053:8081"
      - "8081:8081"
    environment:
      - ETCD_SERVER=etcd:2379
      - ETCD_LEASE_DURATION
      - PAXOS_PORT
      - SNAPSHOT_INTERVAL
    labels:
      - "traefik.http.services.scooter-servers.loadbalancer.server.port=8081"
      - "traefik.http.routers.scooter-servers.rule=PathPrefix(`/`)"
      - "traefik.http.routers.scooter-servers.entrypoints=web"
      - "traefik.http.services.scooter-servers.loadbalancer.healthcheck.path=/scooters"
      - "traefik.http.services.scooter-servers.loadbalancer.healthcheck.interval=10s"
    networks:
      - scooter-net
    depends_on:
      - etcd

  scooter-server-2:
    image: scooter-server:0.3
    command: ["-id", "2", "-port", "50051", "-testport", "8081", "-servers", "scooter-server-1:50051,scooter-server-2:50051,scooter-server-3:50051,scooter-server-4:50051,scooter-server-5:50051"]
    ports:
      - "8082:8081"
    environment:
      - ETCD_SERVER=etcd:2379
      - ETCD_LEASE_DURATION
      - PAXOS_PORT
      - SNAPSHOT_INTERVAL
    labels:
      - "traefik.http.services.scooter-servers.loadbalancer.server.port=8081"
      - "traefik.http.routers.scooter-servers.rule=PathPrefix(`/`)"
      - "traefik.http.routers.scooter-servers.entrypoints=web"
      - "traefik.http.services.scooter-servers.loadbalancer.healthcheck.path=/scooters"
      - "traefik.http.services.scooter-servers.loadbalancer.healthcheck.interval=10s"
    networks:
      - scooter-net
    depends_on:
      - etcd

  scooter-server-3:
    image: scooter-server:0.3
    command: ["-id", "3", "-port", "50051", "-testport", "8081", "-servers", "scooter-server-1:50051,scooter-server-2:50051,scooter-server-3:50051,scooter-server-4:50051,scooter-server-5:50051"]
    ports:
      - "8083:8081"
    environment:
      - ETCD_SERVER=etcd:2379
      - ETCD_LEASE_DURATION
      - PAXOS_PORT
      - SNAPSHOT_INTERVAL
    labels:
      - "traefik.http.services.scooter-servers.loadbalancer.server.port=8081"
      - "traefik.http.routers.scooter-servers.rule=PathPrefix(`/`)"
      - "traefik.http.routers.scooter-servers.entrypoints=web"
      - "traefik.http.services.scooter-servers.loadbalancer.healthcheck.path=/scooters"
      - "traefik.http.services.scooter-servers.loadbalancer.healthcheck.interval=10s"
    networks:
      - scooter-net
    depends_on:
      - etcd

  scooter-server-4:
    image: scooter-server:0.3
    command: ["-id", "4", "-port", "50051", "-testport", "8081", "-servers", "scooter-server-1:50051,scooter-server-2:50051,scooter-server-3:50051,scooter-server-4:50051,scooter-server-5:50051"]
    ports:
      - "8084:8081"
    environment:
      - ETCD_SERVER=etcd:2379
      - ETCD_LEASE_DURATION
      - PAXOS_PORT
      - SNAPSHOT_INTERVAL
    labels:
      - "traefik.http.services.scooter-servers.loadbalancer.server.port=8081"
      - "traefik.http.routers.scooter-servers.rule=PathPrefix(`/`)"
      - "traefik.http.routers.scooter-servers.entrypoints=web"
      - "traefik.http.services.scooter-servers.loadbalancer.healthcheck.path=/scooters"
      - "traefik.http.services.scooter-servers.loadbalancer.healthcheck.interval=10s"
    networks:
      - scooter-net
    depends_on:
      - etcd

  scooter-server-5:
    image: scooter-server:0.3
    command: ["-id", "5", "-port", "50051", "-testport", "8081", "-servers", "scooter-server-1:50051,scooter-server-2:50051,scooter-server-3:50051,scooter-server-4:50051,scooter-server-5:50051"]
    ports:
      - "8085:8081"
    environment:
      - ETCD_SERVER=etcd:2379
      - ETCD_LEASE_DURATION
      - PAXOS_PORT
      - SNAPSHOT_INTERVAL
    labels:
      - "traefik.http.services.scooter-servers.loadbalancer.server.port=8081"
      - "traefik.http.routers.scooter-servers.rule=PathPrefix(`/`)"
      - "traefik.http.routers.scooter-servers.entrypoints=web"
      - "traefik.http.services.scooter-servers.loadbalancer.healthcheck.path=/scooters"
      - "traefik.http.services.scooter-servers.loadbalancer.healthcheck.interval=10s"
    networks:
      - scooter-net
    depends_on:
      - etcd

# Remove comments and comment out traefik to use nginx
#  nginx:
#    image: nginx:latest
#    ports:
#      - "50053:8080"
#    volumes:
#      - ./nginx.conf:/etc/nginx/nginx.conf
#    networks:
#      - scooter-net
#    depends_on:
#      - scooter-server-1
#      - scooter-server-2
#      - scooter-server-3
#      - scooter-server-4
#      - scooter-server-5

  # Traefik disabled - using direct port mapping instead
  # traefik:
  #   image: traefik:v2.3
  #   command:
  #     - "--api.insecure=true"
  #     - "--providers.docker=true"
  #     - "--entrypoints.web.address=:50053"
  #   ports:
  #     - "50053:50053"
  #     - "8081:8080"
  #   volumes:
  #     - "/var/run/docker.sock:/var/run/docker.sock"
  #   networks:
  #     - scooter-net


  spa:
    image: scooter-spa:0.1
    ports:
      - "4300:80"

networks:
  scooter-net:
    driver: bridge

#volumes:
#  etcd_data:
